.page.theme_light {
  --accent-color: #FFC2E6;
  --main-color: #FF8DCB;
  --secondary-color: #353430;
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --body-gap: 40px;
  --section-gap: 50px;
  --topics-gap: 20px;
  --font-family: 'IBM Plex mono', sans-serif;

  --regular-text-font-size: 18px;
  --regular-text-font-weight: 400;
  --regular-text-line-height: 23.4px;

  --title-font-weight: 700;

  --page-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --page-title-line-height: clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem);
}

@media (width >= 768px) {

  .page.theme_light {
    --page-title-font-size: clamp(7.5rem, 0.5262rem + 14.5098vw, 9.8125rem);
    --page-title-line-height: clamp(6.1875rem, 0.4332rem + 11.9725vw, 8.095625rem);
    --body-gap: 60px;
    --section-gap: 80px;
  }
}

.theme_light.page::before {
  display: none;
}

.theme_light.page::after {
  display: none;
}

.theme_light .header::before {
  opacity: 1;
}

.theme_light .header__theme-menu-button {
  color: var(--secondary-color);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid color-mix(in sRGB, var(--secondary-color) 40%, transparent);
}

.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--secondary-color);
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--secondary-color);
}

.theme_light .title-decor {
  color: var(--secondary-color);
}

@media (prefers-color-scheme: light) {
  
  :root {
    --accent-color: #FFC2E6;
    --main-color: #FF8DCB;
    --secondary-color: #353430;
    --background-color: #FFF1F7;
    --background-image: url(../images/cover-image-light.png);
    --body-gap: 40px;
    --section-gap: 50px;
    --topics-gap: 20px;
    --font-family: 'IBM Plex mono', sans-serif;
  
    --regular-text-font-size: 18px;
    --regular-text-font-weight: 400;
    --regular-text-line-height: 23.4px;
  
    --title-font-weight: 700;
  
    --page-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --page-title-line-height: clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem);
  }

  .theme_auto.page::before {
    display: none;
  }
  
  .theme_auto.page::after {
    display: none;
  }

  .theme_auto .header::before {
    opacity: 1;
  }

  .theme_auto .header__theme-menu-button {
    color: var(--secondary-color);
  }

  .theme_auto .header__theme-menu-button:hover {
    border: 1px solid color-mix(in sRGB, var(--secondary-color) 40%, transparent);
  }

  .theme_auto .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--secondary-color);
  }
  
  .theme_auto .header__theme-menu-button_active {
    border: 1px solid var(--secondary-color);
  }

  .theme_auto .title-decor {
    color: var(--secondary-color);
  }

  @media (width >= 768px) {
  
    :root {
      --page-title-font-size: clamp(7.5rem, 0.5262rem + 14.5098vw, 9.8125rem);
      --page-title-line-height: clamp(6.1875rem, 0.4332rem + 11.9725vw, 8.095625rem);
      --body-gap: 60px;
      --section-gap: 80px;
    }
  }
}