.page.theme_light {
  --accent-color: #FFC2E6;
  --main-color: #FF8DCB;
  --secondary-color: #353430;
  --background-color: #FFF1F7;
  --title-decor-color: var(--main-color);
  --title-decor-text-color: var(--secondary-color);
  --title-color: var(--secondary-color);
  --button-color: var(--secondary-color);
  --decorated-zone-color: var(--secondary-color);
  --background-image: url(../images/cover-image-light.png);
}

.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  
  :root {
    --accent-color: #FFC2E6;
    --main-color: #FF8DCB;
    --secondary-color: #353430;
    --background-color: #FFF1F7;
    --title-decor-color: var(--main-color);
    --title-decor-text-color: var(--secondary-color);
    --title-color: var(--secondary-color);
    --button-color: var(--secondary-color);
    --decorated-zone-color: var(--secondary-color);
    --background-image: url(../images/cover-image-light.png);
  }

  .theme_auto .rec {
    display: none;
  }
}