/* GERERAL STYLES START */

.page {
  position: relative;
  color: var(--secondary-color);
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--regular-text-font-size);
  font-weight: var(--regular-text-font-weight);
  line-height: var(--regular-text-line-height);
  inline-size: 100%;
  block-size: 100%;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.link {
  text-decoration: none;
  border-block-end: 1px solid var(--secondary-color);
  text-shadow: 2px 2px var(--main-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--secondary-color);
  line-height: 20px;
  margin: -1px
}

.page-title {
  color: var(--accent-color);
  font-size: var(--page-title-font-size);
  font-weight: var(--title-font-weight);
  line-height: var(--page-title-line-height);
  text-shadow: 4px 4px var(--main-color);
}

.header .page-title {
  margin-block-end: 56px;
}

.block-title {
  color: var(--main-color);
  font-size: var(--block-title-font-size);
  font-weight: var(--title-font-weight);
  line-height: var(--block-title-line-height);
}

.title-decor {
  color: var(--background-color);
  background-color: var(--main-color);
}

li  > .title-decor {
  margin-block-end: 10px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px;
  border-block-end: 0;
  border-inline-start: 0;
  border-inline-end: 1px;
  border-style: solid;
  border-color: var(--main-color);
  z-index: -1;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 0;
  border-block-end: 1px;
  border-inline-start: 1px;
  border-inline-end: 0;
  border-style: solid;
  border-color: var(--main-color);
  z-index: -1;
}

@media (width >= 768px) {

  .link {
    border-block-end: 1px solid transparent;
  }
  
  .link:hover {
    border-block-end: 1px solid var(--secondary-color);
  }

  .header .page-title {
    margin-inline-start: -20px;
    margin-block-end: 162px;
  }

  .header .block-title {
    inline-size: 50%;
    margin-inline-start: auto;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  
  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
}

@media (width >= 1024px) {

  .header .page-title {
    margin-block-end: 114px;
  }
}

/* GERERAL STYLES END */

/* HEADER START */

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px 10px 0;
  margin-block-end: var(--body-gap);
}

.rec {
  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: 10px;
  line-height: 25px;
  color: var(--main-color);

}

.rec::after {
  content: '';
  position: absolute;
  color: var(--main-color);
  inline-size: 9px;
  block-size: 9px;
  inset-inline-start: 42px;
  inset-block-start: 8px;
  border-radius: 100%;
  background-color: var(--main-color);
  box-shadow: 0 0 4px 2px var(--main-color);
}

.header__theme-menu {
  inline-size: min-content;
  margin-block: 65px;
  margin-inline-start: auto;
}

.header__theme-menu-item:not(:last-child) {
  margin-block-end: 10px;
}

.header__theme-menu-button {
  padding-inline: 13px;
  padding-block: 2px 4px;
  line-height: 18px;
  text-transform: lowercase;
  color: var(--main-color);
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid color-mix(in sRGB, var(--main-color) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--main-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--main-color);
  pointer-events: none;
}

@media (width >= 768px) {

  .header {
    min-block-size: 1024px;
    padding: 20px 20px 0;
  }

  .rec {
    inset-inline-end: 48px;
    inset-block-start: 20px;
  }

  .header__theme-menu {
    margin-block: 172px 173px;
  }
}

@media (width >= 1024px) {

  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    inline-size: min-content;
    margin-inline: auto;
    margin-block: 0 273px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .header__theme-menu-item:not(:last-child) {
    margin-block-end: 0;
  }
}

/* HEADER END */

/* MAIN START */

.section {
  display: grid;
  gap: var(--topics-gap);
  padding: 0 10px;
}

.section:not(:last-child) {
  margin-block-end: var(--section-gap);
}

.topics-list__item:not(:last-child) {
  margin-block-end: var(--topics-gap);
}

.topics-list__item-title {
  font-weight: var(--regular-text-font-weight);
}

h3.title-decor + .topics-list {
  margin-block-start: var(--topics-gap);
}

@media (width >= 768px) {

  .section {
    padding: 0 20px;
  }

  .section__one-column-content-layout {
    grid-template-columns: 1fr 2fr;
  }
  
  .section__three-columns-content-layout {
    grid-template-columns: 1fr 2fr;
  }

  .section__one-column-content-layout .topics-list {
    grid-column-start: 2;
  }

  .section__three-columns-content-layout .topics-list {
    grid-column: 1 / span 2;
  }
}

@media (width >= 1024px) {

  .section__one-column-content-layout {
    grid-template-columns: 32% auto;
  }

  .section__three-columns-content-layout .topics-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--topics-gap);
  }
}

/* GALLERY START */

.section.section__gallery {
  gap: 10px;
}

.section__gallery-item:not(:last-child) {
  margin-block-end: 10px;
}

.section__gallery-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

@media (width >= 768px) {

  .section.section__gallery {
    gap: var(--topics-gap);
  }

  .section__gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--topics-gap);
  }

  .section__gallery-item:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .section__gallery-item:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .section__gallery-item:nth-child(3) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
  }

  .section__gallery-item:nth-child(4) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .section__gallery-item:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
  }

  .section__gallery-item:not(:last-child) {
    margin-block-end: 0;
  }

  .section__gallery-image {
    block-size: 100%;
  }
}

/* GALLERY END */
/* MAIN END */

/* FOOTER START */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 0 10px;
  margin-block-start: var(--body-gap);
}

@media (width >= 768px) {

  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {

  .footer {
    min-block-size: 768px;
  }
}

/* FOOTER END */